@charset "UTF-8";

$color-input-placeholder:                                       #cecece !default; //输入提示信息颜色
$input-placeholder-font-size:                                   14px !default; //输入信息字号
$color-theme: #5980ff;